<div id="line_item">
  <% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
  <tr>
  <% end %>
    <td class="text-right"><%= line_item.quantity %></td>      

    <td>&times;</td>

    <td class="pr-2">
      <%= line_item.product.title %>
    </td>

    <td class="text-rigth font-bold">
      <%= number_to_currency(line_item.total_price) %>
    </td>

    <% if controller_path == 'store' %>
      <td class="remove-item"> 
        <%= button_to "Remove Item", line_item, method: :delete, 
          class: "ml-4 rounded-lg py-1 px-2 text-white text-sm bg-green-600" %>
      </td>
    <% end %>
  </tr>
</div>